# 20 Aug 2023

## String

### Write a program to reverse a string.

In [8]:
a = input(" Enter a Strng:")
b = a[::-1]
print(b)

 Enter a Strng: abhi

ihba

### Check if a string is a palindrome.

In [10]:
a = input("Enter a String:")
b = a[::-1]
if a==b:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter a String: madam

String is palindrome

### Convert a string to uppercase.

In [12]:
a = input("Enter a String:")
b = a.upper()
print(b)

Enter a String: abhi

ABHI

### Convert a string to lowercase.

In [15]:
a = input("Enter a String:")
b = a.lower()
print(b)

Enter a String: ABHI

abhi

### Count the number of vowels in a string.

In [19]:

A = input(" Enter a String:")
vowels = "aeiou"
c = sum(1 for char in A if char in vowels)
print(c)

 Enter a String: abhishek

3

### Count the number of consonants in a string.

In [21]:
a = input("Enter a String:")
vowels = "aeiou"
c = sum(1 for char in a if char not in vowels)
print(c)

Enter a String: abhishek

5

### Remove all whitespaces from a string.

In [22]:
a = input(" Enter a String:")
b = a.replace(" ","")
print(b)

 Enter a String: abhis hek

abhishek

### Find the length of a string without using the `len()` function.

In [27]:
a = input("Enter a String:")
b = sum(1 for char in a)
print(b)

Enter a String: abhishek

8

### Check if a string contains a specific word.

In [29]:
a = input("Enter a String:")
specific_word = input("Enter a Specific word:")
if specific_word in a:
    print(specific_word, "is present in string")
else:
    print(specifi_word, "is not present")

Enter a String: abhi is a good guy
Enter a Specific word: good

good is present in string

### Replace a word in a string with another word.

In [32]:
a = input("Enter a word:")
new = input("Enter a String:")
CURRENT = a.replace(a,new)
print(CURRENT)

Enter a word: ABHI
Enter a String: ABHISHEK

ABHISHEK

### Count the occurrences of a word in a string.

In [47]:
A = input(" Enter a String:")
b = input("Enter a word:")
c = sum(1 for char in A if char in b)
print(c)

 Enter a String: aabhi
Enter a word: a

2

### Find the first occurrence of a word in a string.

In [11]:
str = input("Enter a string:")
word = input("Enter a word:")
b = str.index(word)
print(b)
if b != 0:
    print("Not the first occurrence")
else:
    print("First occurrence")

Enter a string: abhishek
Enter a word: a

0
First occurrence

### Find the last occurrence of a word in a string.

In [20]:
str = input("Enter a Strig:")
word = input("Enter a word:")
b = str.endswith(word)
print(b)
if b==True:
    print("Last occurrence")
else:
    print("Not last occurrence")

Enter a Strig: hello how are you
Enter a word: how

False
Not last occurrence

### Split a string into a list of words.

In [24]:
str = input("Enter a String:")
a = str.split()
print(a)

Enter a String: hello how are you

['hello', 'how', 'are', 'you']

### Join a list of words into a string.

In [3]:
str = input("Enter a String:")
word = input("Enter a word:")
a = str + " " + word

print(a)

Enter a String: hello
Enter a word: how

hello how

### Convert a string where words are separated by spaces to one where words are separated by underscores.

In [15]:
a = input("Enter a String:")
b = a.replace(" " , '_')
print(b)

Enter a String: hello abhi

hello_abhi

### Check if a string starts with a specific word or phrase.

In [18]:
str = input("Enter a String:")
word = input("Enter a word:")
start = str.startswith(word)
print(start)
if start==1:
    print("Yes String startwith given word")
else:
    print("No string does not start with given word")

Enter a String: Hello Abhi
Enter a word: Hello

True
Yes String startwith given word

### Check if a string ends with a specific word or phrase.

In [19]:
str = input("Enter a String:")
word = input("Enter a Word:")
end = str.endswith(word)
print(end)
if end == 1:
    print("String endswith given word")
else:
    print("String does not ends with given word")

Enter a String: Hello Abhi
Enter a Word: Abhi

True
String endswith given word

### Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
str = input("Enter a String:")
a = str.title()
print(a)

Enter a String: hello world

Hello World

### (Doubt) Find the longest word in a string.

In [22]:
str = input("Enter a String:")
words = str.split()
print(a)
for word in words:
         print(word)
b = len(word)
print(b)

Enter a String: Hello how ar u

['hello', 'how', 'ar', 'u']
Hello
how
ar
u
1

In [23]:
### Find the longest word in a string.

In [43]:
a = input("Enter a String:")
b = a.split()
longest_word = ""
for word in b:
    if len(word) > len(longest_word):
        longest_word = word
        print(longest_word)

Enter a String: The quick brown fox jumps over the lazy dog

The
quick

### Find the shortest word in a string.

In [33]:
str = input("Enter a String:")
words = str.split()
s_word = words[0]
c = print(s_word)
a = len(s_word)
print(a)
d = print(word)
b = len(word)
print(b)

if s_word < word:
    print("shortest word is:", word)

Enter a String: hello how ar u

hello
5
u
1
shortest word is: u

### Reverse the order of words in a string.

In [36]:
str = input("Enter a String:")
b = str.split()
a = b[::-1]
print(a)

Enter a String: hello abhi

['abhi', 'hello']

### Check if a string is alphanumeric.

In [43]:
str = input("Enter a String:")
alpha = str.isalnum()
print(alpha)

Enter a String: abhi123

True

### Extract all digits from a string.

In [86]:
str = input("enter:")
a = str.isdigit()
for char in str:
    if char.isdigit():
        print(char)

enter: abhi12

1
2

### Extract all alphabets from a string.

In [90]:
str = input("Enter:")
for char in str:
    if char.isalpha():
        print(char)

Enter: abhi123

a
b
h
i

### Count the number of uppercase letters in a string.

In [102]:
str = input("Enter a String:")
u = sum(1 for char in str if char.isupper())
print(u)

Enter a String: Abhi

1

### Count the number of lowercase letters in a string.

In [103]:
str = input("Enter a String:")
l = sum(1 for char in str if char.islower())
print(l)

Enter a String: Abhi

3

### Swap the case of each character in a string.

In [104]:
str = input("Enter a Char:")
a = str.swapcase()
print(a)

Enter a Char: Abhi

aBHI

### Remove a specific word from a string.

In [40]:
def r_w(original , w_of_r):
    words = original.split()
    new = (word for word in words if word!=words)
    modfied = ''.jon(new)
    return modified
    
    origonal = "Hello world, how are you"
    w_of_r = "are"
    result =  new(word , word_of_removal)
    print(result)

### Check if a string is a valid email address.

In [14]:
import re
def valid_email(email):
    pattern = r'^[\w\\]
    if re.match(pattern,email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid_email"
result1 = valid_email(email1)
result2 = valid_email(email2)
print(result1)
print(result2)

SyntaxError: unterminated string literal (detected at line 3) (2684908997.py, line 3)

### Extract the username from an email address string.

In [25]:
email = input("Enter email:")
u = email.split('@')[0]
print(u)

Enter email: abhishekkalyankar0604@gmail.com

abhishekkalyankar0604

### Extract the domain name from an email address string.

In [26]:
email = input("Enter Email:")
domain = email.split('@')[1]
print(domain)

Enter Email: abhishekkalyankar0604@gmail.com

gmail.com

### Replace multiple spaces in a string with a single space.

In [30]:
str = input("Enter a Sring:")
a = str.replace("  ","")
print(a)

Enter a Sring: abhi    shek     kal   yankar

abhishek kal yankar

### Check if a string is a valid URL.

In [18]:
def valid(url):
    if (url.startswith("http://") or url.startswith("https://")):
        return True
    url_without_prot = url.split("://")[1]
    if '.' not in url_without_prot:
            return false
    return True

url1 = "http://example.com"
url2 = "https://www.example.com/path/to/page"
url3 = "ftp://example.com"
url4 = "http://example"
url5 = "example.com"
url6 = "https://example.com"

print(valid(url1))
print(valid(url2))  
print(valid(url3))  
print(valid(url4)) 
print(valid(url5))  
print(valid(url6))

True
True
True
True

IndexError: list index out of range

### Extract the protocol (http or https) from a URL string.

In [44]:
def protocol(url):
    if url.startswith("http://"):
        print("http")
    elif url.startswith("https://"):
        print("https")
    else:
              return None 

url1 = "http://example.com"
url2 = "https://exampleno2.com"
url3 = "ftp//example.com"

print(protocol(url1))
print(protocol(url2))
print(protocol(url3))

http
None
https
None
None

### Find the frequency of each character in a string.

### Remove all punctuation from a string.

In [25]:
import string
def remove_pun(input_string):
    translator = input_str.maketrans("","", string.punctuation)
    print(translator)
    
    clean_string = input_str.translate(translator)
    return clean_string
    
input_str = "Hello, world! How's it going?"
cleaned_str = remove_pun(input_str)
print("original string:" , input_str)
print("cleaned string:" , cleaned_str)

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
original string: Hello, world! How's it going?
cleaned string: Hello world Hows it going

### Check if a string contains only digits.

In [27]:
str = input("Enter a String:")
a = str.isdigit()
print(a)

Enter a String: 1234

True

### Check if a string contains only alphabets.

In [28]:
str = input("Enter a String")
a = str.isalpha()
print(a)

Enter a String abhi

True

### Convert a string to a list of characters.

In [42]:
str = input("Enter a String:")
print(str)
for char in str:
    print(creplacer)

Enter a String:

### Check if two strings are anagrams.

In [10]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" " , "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted (str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
string3 = "Hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
print (f"'{string1}' and '{string2}' are anagrams:", result1)
print (f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'Hello' and 'world' are anagrams: False

### Encode a string using a Caesar cipher.

# List Based Practice Problem :

### Create a list with integers from 1 to 10.

In [1]:
list = [i for i in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Find the length of a list without using the `len()` function.

In [33]:
def my_l(l):
    count = 0
    for _ in l:
        count += 1
    return count

l1 = [1,2,3,4,5,6]
print(my_l(l1))

6

### Append an element to the end of a list.

In [37]:
my_list = [1,2,3,4,5]
new_ele = 40
my_list.append(new_ele)

print(my_list)

[1, 2, 3, 4, 5, 40]

### Insert an element at a specific index in a list.

In [39]:
list = [1,2, 3, 4, 5]
list.insert(3 , 5)
print(list)

[1, 2, 3, 5, 4, 5]

### Remove an element from a list by its value.

In [92]:
list = [1,2,3,4,5,6]
print(list)
element_to_remove = int(input("Enter item:"))
if element_to_remove in list:
    print("Yes")
else:
    print("No" , element_to_remove)
list.remove(element_to_remove)
print("new list is:",list)

[1, 2, 3, 4, 5, 6]

Enter item: 3

Yes
new list is: [1, 2, 4, 5, 6]

### Remove an element from a list by its index.

In [3]:
list = [1,2,3,4,5,6]
list.pop(2)
print(list)

[1, 2, 4, 5, 6]

### Check if an element exists in a list.

In [11]:
list = [1,2,3,4,5,6]
check = int(input("Enter a number:"))
if check in list:
     print("Element exist in list")
else:
     print("Element does not exist")

Enter a number: 9

Element does not exist

### Find the index of the first occurrence of an element in a list.

In [20]:
list = [1,2,3,4,5,6]
find = int(input("Enter an element to find:"))
a = list.index(find)
print("The index of:",find,"is",a)

Enter an element to find: 3

The index of: 3 is 2

### Count the occurrences of an element in a list.

In [23]:
list = [1,2,3,4,5,6,2,2,3]
element_to_count = int(input("Enter an element to count:"))
count = list.count(element_to_count)
print("The element",element_to_count, "occurs",count , "times")

Enter an element to count: 2

The element 2 occurs 3 times

### Reverse the order of elements in a list.

In [2]:
list = [1,2,3,4,5,6]
list.reverse()
print(list)

[6, 5, 4, 3, 2, 1]

### Sort a list in ascending order.

In [5]:
list = [1,2,34,5,6,78,7,65,3]
list.sort()
print(list)

[1, 2, 3, 5, 6, 7, 34, 65, 78]

#### Sort a list in descending order.

In [8]:
list = [1,2,3,4,5,6,7,8,9]
list.sort(reverse = True)
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Create a list of even numbers from 1 to 20.

In [37]:
even = [x for x in range(2,21,2)]
print("even numbers:",even)

even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Create a list of odd numbers from 1 to 20.

In [36]:
odd = [x for x in range(1,21,2)]
print("odd numbers:",odd)

odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Find the sum of all elements in a list.

In [42]:
list = [1,2,3,4,5]
a = sum(list)
print(a)

15

### Find the maximum value in a list.

In [44]:
list = [1,2,13,4,5,6]
max_val = max(list)
print(max_val)

13

### Find the minimum value in a list.

In [45]:
list = [1,2,3,4,5,6,7,89]
min_val = min(list)
print(min_val)

1

### Create a list of squares of numbers from 1 to 10.

In [54]:
list = [x**2 for x in range (1,11,1)] 
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Create a list of random numbers.

In [62]:
import random

list = [random.randint(1,100) for char in range(10)]
print(list)

[35, 52, 13, 67, 54, 30, 32, 39, 99, 11]

### Remove duplicates from a list.

In [63]:
list = [1,2,3,4,1,2,5,6,3,1]
unique = set(list)
print(unique)

{1, 2, 3, 4, 5, 6}

### Find the common elements between two lists.

In [70]:
l1 = [1,2,3,4,5,6,7,8]
l2 = [1,2,45,67,44,34,6,7,4,]
l3 = set(l1) & set(l2)
print(l3)

{1, 2, 4, 6, 7}

### Find the difference between two lists.

In [73]:
l1 = [1,2,3,4,5,6]
l2 = [8,6,54,3,2,1]
diff = set(l1)-set(l2)
print(diff)

{4, 5}

### Merge two lists.

In [77]:
l1 = [1,2,34,4,5]
l2 = [6,5,78,5,3,45]
l3 = l1+l2
print(l3)

[1, 2, 34, 4, 5, 6, 5, 78, 5, 3, 45]

### Multiply all elements in a list by 2.

In [81]:
l1 = [1,2,3,4,5,6,7,8,9,0]
l2 = [x*2 for x in l1]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 0]

### Filter out all even numbers from a list.

In [86]:
l1 = [1,2,3,4,5,6,7,8,9,0]
l2 = [x for x in l1 if x%2 == 0]
print("even numbers:",l2)

even numbers: [2, 4, 6, 8, 0]

### Convert a list of strings to a list of integers.

In [87]:
str = ["1","2","3","4","5","6"]
int = [int(x) for x in str]
print(int)

[1, 2, 3, 4, 5, 6]

### Convert a list of integers to a list of strings.

In [2]:
int_list = [1,2,3,4,5]

string_list = [str(num) for num in int_list]

print(string_list)

['1', '2', '3', '4', '5']

### Flatten a nested list.

### Create a list of the first 10 Fibonacci numbers.

In [1]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence[:n]

first_10_fib = fibonacci(10)
print(first_10_fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Check if a list is sorted.

In [2]:
def sorted_list(l1):
    for i in range(1, len(l1)):
        if l1[i] < l1[i - 1]:
            return False
    return True
    
a_list = [12,13,14,15,16]

if sorted_list(a_list):
    print("List is sorted in ascending order")
else:
    print("List is not sorted")

List is sorted in ascending order

### Rotate a list to the left by `n` positions.

In [7]:
def rotate_left(lst, n):
    n = n % len(lst) 
    return lst[n:] + lst[:n]

lst = [1, 2, 3, 4, 5]
rotated_lst = rotate_left(lst, 2)
print(rotated_lst)

[3, 4, 5, 1, 2]

### Rotate a list to the right by `n` positions.

In [8]:
def rotate_right(lst, n):
    n = n % len(lst)  
    return lst[-n:] + lst[:-n]

lst = [1, 2, 3, 4, 5]
rotated_lst = rotate_right(lst, 2)
print(rotated_lst)

[4, 5, 1, 2, 3]

### Create a list of prime numbers up to 50.

In [33]:
def is_prime(num):
     if num <=1:
        return False
     if num <= 3:
        return True
     if num % 2 == 0 or num % 3 == 0:
        return False
     i = 5
     while i * i <= num:
        print(i,num)
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
     return True

prime_numbers = [num for num in range(2,50) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
5 31
5 35
5 37
5 41
5 43
5 47
5 49
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Split a list into chunks of size `n`.

In [34]:
def chunkify(lst, n):
    return [lst[::n] for i in range (0, len(lst), n)]
my_list = [1,2,3,4,5,6,7,8]
chunk_size = 3
chunks = chunkify(my_list, chunk_size)
print(chunks)

[[1, 4, 7], [1, 4, 7], [1, 4, 7]]

### Find the second largest number in a list.

In [40]:
g_list = [1,2,3,4,5,6,7,8]

sorted_list = sorted(g_list)
print(sorted_list)

second_largest = g_list[-2]

print(second_largest)

[1, 2, 3, 4, 5, 6, 7, 8]
7

### Replace every element in a list with its square.

In [44]:
list = [1,2,3,4,5,6,7,8]
square = [i**2 for i in list]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64]

### Convert a list to a dictionary where list elements become keys and their indices become values.

In [49]:
my_list = [1,2,3,4,5,6,7,8,9]

my_dict = {element: index for index, element in enumerate(my_list)}

print("Converted dictionary:", my_dict)

Converted dictionary: {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8}

### Shuffle the elements of a list randomly.

In [52]:
import random

list = [1,2,3,4,5,6,7,8,9]

random.shuffle(list)

print(list)

[5, 1, 9, 2, 7, 6, 3, 4, 8]

### Create a list of the first 10 factorial numbers.

In [59]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n - 1)
fact_num = [fact (i) for i in range(10)]
print(fact_num)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### Check if two lists have at least one element in common.

In [4]:
def common_ele(l1,l2):
    for ele in l1:
        if ele in l2:
            return True
    return False

l1 = [1,2,3,4,5]
l2 = [8,7,6,5,4]

if common_ele(l1,l2):
    print("have common element")
else:
    print("no common element")

have common element

### Remove all elements from a list.

In [6]:
l1 = [1,2,3,4,5,6,7,8,9]
l1.clear()
print(l1)

[]

### Replace negative numbers in a list with 0.

In [25]:
list1 = [1,-2,-3,-4,5,6,7,8]
for i in range (len(list1)):
        if list1[i] < 0:
            list1[i] = 0
print(list1)

[1, 0, 0, 0, 5, 6, 7, 8]

### Convert a string into a list of words.

In [31]:
string = "Hello guys, How are you"
word = string.split()
print(word)

['Hello', 'guys,', 'How', 'are', 'you']

### Convert a list of words into a string.

In [35]:
word = ["Hello" , "guys" , "How", "are", "you"]
string = " ".join(word)
print(string)

Hello guys How are you

### Create a list of the first `n` powers of 2.

In [4]:
def powers_2(n):
    return [2**i for i in range(n)]

n = 10
powers_of_2 = powers_2(n)
print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### Find the longest string in a list of strings.

In [10]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = " "
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print(longest_string)

elderberry

### Find the shortest string in a list of strings.

In [11]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]


shortest_string = string_list[0] 
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

print("Shortest string:", shortest_string)

Shortest string: date

# Tuple Based Practice Problem :

### Create a tuple with integers from 1 to 5.

In [12]:
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

### Access the third element of a tuple.

In [13]:
tup = (10,20,30,40,50)
third = tup[2]
print(third)

30

### Find the length of a tuple without using the `len()` function.

In [15]:
tup = (1,2,3,4,5,6,7,8,9)
count = 0
for s in tup:
    count += 1
print(count)

9

### Count the occurrences of an element in a tuple.

In [33]:
tup = (1,2,3,4,2,5,6,7,8,9,1,1,1)
count = 0
ele = int(input("Enter an element to count:"))
for s in tup:
    if s == ele in tup:
        count += 1
print(count)

Enter an element to count: 2

2

### Find the index of the first occurrence of an element in a tuple.

In [37]:
tup = (1,2,4,5,6,7,8)
ele = int(input("enter an element:"))
a = tup.index(ele)
print(a)

enter an element: 2

1

### Check if an element exists in a tuple.

In [51]:
tup = (1,2,3,4,5,6,7,8)
ele = int(input("Enter an element:"))
if ele in tup:
     print("element exist")
else:
    print("does not exist")

Enter an element: 1

element exist

### Convert a tuple to a list.

In [53]:
tup = (1,2,3,4,5,6)
my_list = list(tup)
print(my_list)

[1, 2, 3, 4, 5, 6]

### Convert a list to a tuple.

In [55]:
my_list = [1,2,3,4,5,6]
tup = tuple(my_list)
print(tup)

(1, 2, 3, 4, 5, 6)

### Unpack the elements of a tuple into variables.

In [57]:
tup = (1,2,3,4,5)
a,b,c,d,e = tup
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Create a tuple of even numbers from 1 to 10.

In [68]:
tup = [x for x in range(2, 11 , 2)]
print(tup)

[2, 4, 6, 8, 10]

### Create a tuple of odd numbers from 1 to 10.

In [71]:
tup = [x for x in range(1,11,2)]
print(tup)

[1, 3, 5, 7, 9]

### Concatenate two tuples.

In [1]:
t1 = (1,2,3,4)
t2 = (5,6,7)
t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7)

### Repeat a tuple three times.

In [2]:
t1 = (1,2,3)
t2 = 3*t1
print(t2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Check if a tuple is empty.

In [44]:
empty_tup = ()
if len(empty_tup) == 0:
        print("The tuple is empty")
else:
        print("The tuple is not empty")

The tuple is empty

### Create a nested tuple.

In [46]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Access the first element of a nested tuple.

In [49]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple[0][0])

1

### Create a tuple with a single element.

In [50]:
single_ele = (1,)
print(single_ele)

(1,)

### Compare two tuples.

In [54]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
if tup1 == tup2:
    print("tuples are equal")
else:
    print("tuples are not equal")

tuples are not equal

### Delete a tuple.

In [56]:
tup = (1,2,3,4)
del tup

### Slice a tuple.

In [60]:
tup = (1,2,3,4,5)

a = tup[1:3]

print(a)

(2, 3)

### Find the maximum value in a tuple.

In [62]:
tup = (1,2,3,4,5)

max_v = max(tup)

print("maximum value is:",max_v)

maximum value is: 5

### Find the minimum value in a tuple.

In [63]:
tup = (1,2,3,4,5)

min_v = min(tup)

print("mnimum value is:",min_v)

mnimum value is: 1

### Convert a string to a tuple of characters.

In [64]:
string1 = "Hello, World"

tup = tuple(string1)

print(tup)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd')

### Convert a tuple of characters to a string.

In [70]:
tup = ('h','e','l','l','o',',','w','o','r','l','d')
string = ''.join(tup)
print(string)

hello,world

### Create a tuple from multiple data types.

In [71]:
tup = (1, 'hello', 3.14 , True)

print(tup)

(1, 'hello', 3.14, True)

### Check if two tuples are identical.

In [73]:
t1 = (1,2,3,4)
#t2 = (5,6,7,8)
t2 = (1,2,3,4)

if t1 == t2:
    print("The two tuples are identical")
else:
    print("not identical")

The two tuples are identical

### Sort the elements of a tuple.

t1 = (12,15,11,1,2,78)
t2 = tuple(sorted(t1))
print(t2)

### Convert a tuple of integers to a tuple of strings.

In [79]:
tup = (1,2,3,4,5)

t2 = tuple(str(item) for item in tup)

print(t2)

('1', '2', '3', '4', '5')

### Convert a tuple of strings to a tuple of integers.

In [1]:
tup = ('10','20','30','40')

t2 = tuple(int(item) for item in tup)

print(t2)

(10, 20, 30, 40)

### Merge two tuples.

In [2]:
t1 = (1,2,3,4)
t2 = (4,5,6,7,8)

t3 = t1+t2

print(t3)

(1, 2, 3, 4, 4, 5, 6, 7, 8)

### Flatten a nested tuple.

In [16]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

nested_tuple = ((1, 2), (3, (4, 5)), 6, (7, 8, 9))
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Create a tuple of the first 5 prime numbers.

In [17]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

### Check if a tuple is a palindrome.

In [26]:
def is_pal(t):
    return t == t[::-1]

t1 = input("tuple:")
if (is_pal(t1)):
    print("tuple is pal")
else:
    print("tuple is not pal")

tuple: 1,2,4

tuple is not pal

### Create a tuple of squares of numbers from 1 to 5.

In [32]:
tup = [x**2 for x in range(1,6,1)]
print(tup)

[1, 4, 9, 16, 25]

### Filter out all even numbers from a tuple.

In [38]:
tup = (1,2,3,4,5,6,7,8)
even_num = []
for x in tup:
    if x % 2 == 0:
        even_num.append(x)

even_num_tup = tuple(even_num)
print(even_num_tup)

(2, 4, 6, 8)

### Multiply all elements in a tuple by 2.

In [5]:
tup = (1,2,3,4,5)
t1 = tuple(x *2 for x in tup)
print(t1)

(2, 4, 6, 8, 10)

### Create a tuple of random numbers.

In [13]:
import random

tup1 = tuple(random.randint (1,100) for _ in range(10))

print(tup1)

(3, 5, 80, 82, 55, 69, 35, 76, 99, 17)

### Check if a tuple is sorted.

In [9]:
tup = (1, 2, 3, 4,  6, 7)
t2 = tuple(sorted(tup))
print(t2)

if tup == t2:
    print("sorted")
else:
    print("not sorted")

(1, 2, 3, 4, 6, 7)
sorted

### Rotate a tuple to the left by `n` positions.

In [11]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

### Rotate a tuple to the right by `n` positions.

In [12]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

### Create a tuple of the first 5 Fibonacci numbers.

In [13]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

### Create a tuple from user input.

In [3]:
tup = input("Enter a tuple:")
t1 = tuple(tup)
print(t1)

Enter a tuple: 123

('1', '2', '3')

### Swap two elements in a tuple.

In [25]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

### Reverse the elements of a tuple.

In [26]:
tup = (1,2,3,4,5,6)

t1 = tup[::-1]

print(t1)

(6, 5, 4, 3, 2, 1)

### Create a tuple of the first `n` powers of 2.

In [31]:
def tup_n(n):
    return tuple(2**i for i in range(n))

n = 5
power = tup_n(n)
print(power)

(1, 2, 4, 8, 16)

### Find the longest string in a tuple of strings.

In [37]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

t1 = max(string_tuple , key = len)

print("longest string is:",t1)

longest string is: watermelon

### Find the shortest string in a tuple of strings.

In [36]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

t1 = min(string_tuple, key = len)

print("shortest string is:",t1)

shortest string is: kiwi

### Create a tuple of the first `n` triangular numbers.

In [38]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### Check if a tuple contains another tuple as a subsequence.

In [1]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

### Swap two elements in a list by their indices.

In [2]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

# Set Based Practice Problem :

### Create a set with integers from 1 to 5.

In [1]:
set1 = {1,2,3,4,5}

print(set1)

{1, 2, 3, 4, 5}

### Add an element to a set.

In [2]:
set1 = {1,2,3,4,5,6}

ele = input("enter element to add:")

set1.add(ele)

print(set1)

enter element to add: abhi

{1, 2, 3, 4, 5, 6, 'abhi'}

### Remove an element from a set.

In [4]:
set1 = {1,2,3,4,5}

ele = int(input("enter ele to remove:"))

set1.remove(ele)

print(set1)

enter ele to remove: 1

{2, 3, 4, 5}

In [10]:
### Check if an element exists in a set.

set1 = {1,2,3,'abhi',4}
print(set1)

ele = "abhi"

if ele in set1:
    print("Element exist")
else:
    print("Element does not exist")

{1, 2, 3, 4, 'abhi'}
Element exist

### Find the length of a set without using the `len()` function.

In [15]:
set1 = {1,2,3,4,5,6}

count = 0

for _ in set1:
    count += 1
print("Number of elements:",count)

Number of elements: 6

### Clear all elements from a set.

In [16]:
set1 = {1,2,3,4,5}

set1.clear()

print(set1)

set()

### Create a set of even numbers from 1 to 10.

In [17]:
even_num = {x for x in range(1,11) if x%2 == 0}
print(even_num)

{2, 4, 6, 8, 10}

### Create a set of odd numbers from 1 to 10.

In [18]:
odd_num = {x for x in range(1,11) if x%2 == 1}
print(odd_num)

{1, 3, 5, 7, 9}

### Find the union of two sets.

In [19]:
set1 = {1,2,3,4}
set2 = {4,5,6,7}

u_set = set1.union(set2)

print(u_set)

{1, 2, 3, 4, 5, 6, 7}

### Find the intersection of two sets.

In [21]:
set1 = {1,2,3,4,5,6,7,8,9}

set2 = {1,2,3,7,8}

int_set = set1.intersection(set2)

print(int_set)

{1, 2, 3, 7, 8}

### Find the difference between two sets.

In [22]:
set1 = {1,2,3,4,5,6,7,8}

set2 = {3,4,5,6}

diff = set1.difference(set2)

print(diff)

{8, 1, 2, 7}

### Check if a set is a subset of another set.

In [25]:
set1 = {1,2,3,4,5,6}

set2 = {1,2}

sub = set2.issubset(set1)

print(sub)

True

### Check if a set is a superset of another set.

In [26]:
set1 = {1,2,3,4,5,6}

set2 = {1,2,3,4}

sup = set1.issuperset(set2)

print(sup)

True

### Create a set from a list.

In [27]:
list1 = [1,2,3,4,5,6]

set1 = set(list1)

print(set1)

{1, 2, 3, 4, 5, 6}

### Convert a set to a list.

In [28]:
set1 = {1,2,3,4,5,6}

list1 = list(set1)

print(list1)

[1, 2, 3, 4, 5, 6]

### Remove a random element from a set.

In [35]:
import random

set1 = {1,2,4,5,7,8}
random_element = random.choice(list(set1))
set1.remove(random_element)

print(set1)

{1, 2, 4, 5, 8}

### Pop an element from a set.

In [43]:
set1 = {1,2,3,4,5,6}
set1.pop()

print(set1)

{2, 3, 4, 5, 6}

### Check if two sets have no elements in common.

In [48]:
set1 = {1,2,4,5}

set2 = {7,8,9}

diff = set1.intersection(set2)

print(diff)

if not diff:
    print("No elements in common")
else:
    print("common element:",diff)

set()
No elements in common

### Find the symmetric difference between two sets.

In [51]:
set1 = {1,2,3,4,5}

set2 = {4,5,6,7,8}

symm_diff = set1.symmetric_difference(set2)

print(symm_diff)

{1, 2, 3, 6, 7, 8}

### Update a set with elements from another set.

In [52]:
set1 = {1,2,3,4}

set2 = {3,5,6,7}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7}

### Create a set of the first 5 prime numbers.

In [53]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

### Check if two sets are identical.

In [57]:
set1 = {1,2,3,4}

set2 = {1,2,3,4}

if set1 == set2:
    print("sets are identical")
else:
    print("sets are not identical")

sets are identical

### Create a frozen set.

In [58]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

### Check if a set is disjoint with another set.

In [61]:
set1 = {1,2,3,4,5}

set2 = {6,7,8,9}

is_dis = set1.isdisjoint(set2)

print(is_dis)

True

### Create a set of squares of numbers from 1 to 5.

In [62]:
sq = {x**2 for x in range(1,6)}
print(sq)

{1, 4, 9, 16, 25}

### Filter out all even numbers from a set.

In [65]:
set1 = {1,2,3,4,5,6,7,8}

even_num = {x for x in set1 if x%2==0}

print(even_num)

{8, 2, 4, 6}

### Multiply all elements in a set by 2.

In [8]:
set1 = {1,2,3,4,5}

set2 = set(x*2 for x in set1)

print(set2)

{2, 4, 6, 8, 10}

### Create a set of random numbers.

In [16]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {5, 77, 14, 58, 91}

### Check if a set is empty.

In [18]:
set1 = ()

emp = len(set1)

print(emp)

if emp == 0:
    print("set is empty")
else:
    print("set is not empty")

0
set is empty

### Create a nested set (hint: use frozenset).Create a nested set (hint: use frozenset).

In [20]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### Remove an element from a set using the discard method.

In [21]:
set1 = {1,2,3,4,5,6}

ele = 3

set1.discard(ele)

print(set1)

{1, 2, 4, 5, 6}

### Compare two sets.

In [22]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### Create a set from a string.

In [23]:
string1 = "hello"

set1 = set(string1)

print(set1)

{'e', 'l', 'h', 'o'}

### Convert a set of strings to a set of integers.

In [28]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '456', '123'}
Converted Integer Set: {456, 123, 789}

### Convert a set of integers to a set of strings.

In [30]:
set_int = {1,2,3,4,5}

set_str = {str(x) for x in set_int}

print(set_str)

{'2', '4', '5', '3', '1'}

### Create a set from a tuple.

In [31]:
tup = (1,2,3,4,5)

set1 = set(tup)

print(set1)

{1, 2, 3, 4, 5}

### Convert a set to a tuple.

In [32]:
set1 = {1,2,3,4,5}

tup = tuple(set1)

print(tup)

(1, 2, 3, 4, 5)

### Find the maximum value in a set.

In [36]:
set1 = {1,2,6,4,5}

maximum_value = max(set1)

print(maximum_value)

6

### Find the minimum value in a set.

In [38]:
set1 = {2,3,4,5,1}

set2 = min(set1)


print(set2)

1

### Create a set from user input.

In [40]:
set1 = set(input("Enter values:"))
           
print(set1)

Enter values: 12345

{'2', '4', '5', '3', '1'}

### Check if the intersection of two sets is empty.

In [42]:
set1 = {1,2,3,4}

set2 = {5,6,7,8}

set3 = set1.intersection(set2)

print(set3)

if not set3:
    print("The intersection is empty")
else:
    print("The intersection is not empty")

set()
The intersection is empty

### Create a set of the first 5 Fibonacci numbers.

In [53]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

### Remove duplicates from a list using sets.

In [54]:
list1 = [1,1,2,3,4,5,6,4,3]

dup = set(list1)

print(dup)

{1, 2, 3, 4, 5, 6}

### Check if two sets have the same elements, regardless of their count.

In [55]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

### Create a set of the first `n` powers of 2.

In [56]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

### Find the common elements between a set and a list.

In [57]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

### Create a set of the first `n` triangular numbers.

In [58]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  12

The set of the first 12 triangular numbers is: {1, 66, 3, 36, 6, 10, 45, 78, 15, 21, 55, 28}

### Check if a set contains another set as a subset.

In [59]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

### Create a set of alternating 1s and 0s of length `n`.

In [60]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

### Merge multiple sets into one.

In [61]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}